DATABASE_URI=XXXXXXXXXXXXXXXXX
JWT_SECRET=XXXXXXXXXXXXXXXXX

ZOOM_API_USERNAME=XXXXXXX
ZOOM_API_SECRET=XXXXXXXX
ZOOM_URL=https://zoom.us
ZOOM_ACCOUNT_ID=XXXXXXX
ZOOM_CLIENT_ID=XXXXXXXX
ZOOM_CLIENT_SECRET=XXXXXXX
PORT=3000
CORS_ORIGIN=*
CLOUDINARY_SECRET=XXXXXXXX
CLOUDINARY_KEY=XXXXXXXXXXX
CLOUDINARY_CLOUD_NAME=XXXXXXXXXXXXXX